.floating {
  position: fixed;
  bottom: 60px;
  right: 30px;
}
@media (max-width: 414px) {
  .floating {
    bottom: 30px !important;
  }
}

.floating a:hover {
  text-decoration: none;
}

.floating img {
  width: 90px;
  height: 90px;
}

@media (max-width: 414px) {
  .floating img {
    width: 60px;
    height: 60px;
  }
}
